<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать карточку</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<header>

</header>
<main>
    <form action="/" method="post">
        <label for="title">
            <input type="text" name="title" id="title" placeholder="Заголовок" required>
        </label>
        <label for="subtitle">
            <input type="text" name="subtitle" id="subtitle" placeholder="Подзаголовок" required>
        </label>
        <label for="text">
            <textarea type="text" name="text" id="text" placeholder="Текст" cols="30" rows="10" required></textarea>
        </label>
    <button type="submit">Создать карточку</button>
    </form>
</main>
</body>
</html>