<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<header>
    <ul>
        <li>
            <a href="/home">Home</a>
        </li>
    </ul>
</header>
<main>
    <h1>Мои записи</h1>
    <ul>
        <li>
            <a href="/card/1">
                <h2>Первый день</h2>
                <p>Урок 1</p>
            </a>
        </li>
        <li>
            <a href="/card/2">
                <h2>Второй день</h2>
                <p>Урок 2</p>
            </a>
        </li>
        <li>
            <a href="/card/3">
                <h2>Третий день</h2>
                <p>Урок 3</p>
            </a>
        </li>
        <li>
            <a href="/create_card">
                Создать карточку
            </a>
        </li>
    </ul>
</main>
<footer>

</footer>
</body>
</html>